// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar {
  width: 3.25em;
  height: 3.25em;
}

.main {
  float: left;
}

.task_name {
  font-size: 1.15em;
}

.btn-complete {
  border-radius: 0.5em;
  // padding: 0.5em;
  color: white;
  border: 2px solid #3DA35D;
  background-color: #3DA35D;
  font-weight: bold;
  font-size: 0.9em;
}

.btn-complete:hover {
  color: #3DA35D;
  background-color: transparent;
  border: 2px solid #3DA35D;
  // padding: 0.5em;
  font-size: 0.9em;
  border-radius: 0.5em;
}

.btn-incomplete {
  border-radius: 0.5em;
  // padding: 0.5em;
  color: white;
  border: 2px solid #C95D63;
  background-color: #C95D63;
  font-weight: bold;
  font-size: 0.9em;
}

.btn-incomplete:hover {
  color: #C95D63;
  background-color: transparent;
  border: 2px solid #C95D63;
  // padding: 0.5em;
  font-size: 0.9em;
  border-radius: 0.5em;
}
